@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");

:root {
    --cor-de-fundo: #f161d9;
    --branco: #e26fc0;
    --laranja: #eccce8;
    --azul-degrade: linear-gradient(97.54deg, #ad249b 35.49%, #f751e1 165.37%);
    --fonte-principal: "Poppins";
    --azul: #690650;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}